/* * --------- GENERAL -------- * */
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #F4F4F4;
}
h1{
    font-weight: 800;
    font-size: 42px;
    color: #171717;
}
.df-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* * --------- NAV -------- * */
nav{
    background-color: #fff;
    padding: 2% 5%;
}

/* * --------- COMPONENTS -------- * */
.container{
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.container-white{
    background:#FFFFFF;
}
.button{
    border-radius: 24px;
    width: 272px;
    height: 48px;
    border: 0;
    margin: 2px;
    font-weight: 700;
    font-size: 16px;
    padding: 25px;
}
.button-green{
    background-color: #44B244;
    color: white;
}
.button-white{
    font-weight: 700;
    border: 1px solid #44B244;
    background-color: #fff;
}

/* * --------- HEADER -------- * */
.container-header{
    padding: 100px 0;
}

.header-img{
    width: 580px;
    height: 387px;
}
.text-container{
    display: flex;
    flex-direction: column;
    max-width: 579px;
}
.header-container-button{
    display: flex;
    flex-direction: row;
}

/* * --------- CARD -------- * */
.card{
    width: 35%;
    margin: 30px 0;
    min-height: 600px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header{
    display: flex;
    align-items: center;
}
.card-header img{
    margin-right: 20px;
}
.card-header-txt{
    color: #171717;
    font-family: Lato;
    font-size: 22px;
    font-style: italic;
}
.card h2{
    font-weight: 800;
    line-height: 36px;
    font-size: 28px;
}
.card ol li{
    margin: 15px 0;
    list-style-type: none;
}
.card button{
    width: 95%;
    margin: 0 auto;
}

/* * --------- TEAM -------- * */
.team{
    padding: 150px 0;
}
.team h2{
    font-size: 30px;
}
.team p{
    max-width: 45%;
    text-align: center;
    font-size: 24px;
    line-height: 39px;
}

/* * --------- FOOTER -------- * */
footer p{
    font-family: AppleColorEmoji;
    padding: 30px 0;
    text-align: center;
}