$btn-font-size: 16px;
$btn-padding-x: 10px;
$btn-padding-y: 30px;

.btn {
    border-radius: 24px;
    font-size: $btn-font-size;
    padding: $btn-padding-x $btn-padding-y;
}

.btn-success {
    margin-bottom: 10px;
}

.btn-help {
    background-color: $white;
    border-color: $success;
    color: $success;
    margin-bottom: 10px;

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }

    &:hover {
        background-color: $success;
        border-color: $success;
        color: $white;
    }
}

.btn-mobile-block {
    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.fb-share-button {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    right: 20%;
}

//.button {
//  border-radius: 24px;
//  width: 272px;
//  height: 48px;
//  border: 0;
//  margin: 2px;
//  font-weight: 700;
//  font-size: 16px;
//}
//.button-green {
//  background-color: #44b244;
//  color: white;
//}
