#app {}

.app-header {
    .navbar-nav {
        flex-direction: row;

        .nav-item {
            margin-top: 11px;
            margin-bottom: 11px;

            &.active {
                .nav-link {
                    color: $black;
                    text-decoration: underline;
                }
            }

            .nav-link {
                color: $success;
                padding-left: .6rem;
                padding-right: .6rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .navbar-nav.ml-auto {
            justify-content: center !important;
            margin-left: 0 !important;
            width: 100%;
        }
    }
}

.app-body {
    section {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .section-spacer {
        height: 120px;
    }

    .card-deck {
        margin-bottom: 2em;
    }
}

.app-footer {
    background-color: $gray-200;
    padding-bottom: 40px;
    padding-top: 40px;
}
